
body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.texto {
    color: rgb(8, 8, 8);
    text-align: center center;
    margin: 300px 0;
    font-size: 26px;
}

header{
    display: flex;
    width: 100%;
    height: 380px;
    justify-content: center;
    padding: 5px;
    position: relative;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
hr{
    width: 75%;
    margin-top: 20px;
    padding: 0px;
    border: dashed #ccc;
}
a{
    text-decoration: none;
    color: rgb(3, 58, 107);
    border-color: rgb(1, 23, 44);
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
.logo img{
    height: 50px;
    margin-right: 0px;
}
nav{
    padding-right: 0px;
}
nav a{
    font-weight: 600;
    padding-right: 20px;
    
}

.contenedor-nav {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

nav a:hover{
    color: rgb(8, 218, 233);
    border-color: rgb(6, 202, 236);
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 0px 0px;
    }
}

.container-flex {
    display: flex;
    justify-content: flex-end;

    
}
.contenedor{
    display: flex;
    margin-top: 15px;
}

.div-1{
    background-color: #174ad6d0;
    width: 350px;
    padding: 35px;
    margin: left 10px;
    margin-right:10px;
    text-align: center;  
}

.div-2{
    width: 900px;
    padding: 35px;
    margin-left: 10px;
    margin-right: 0px;
    margin: top 10px;
    }

.quienesSomos{
    margin-top: 40px;
    margin-left: 0px;
}
.nosotrosContenedor{
    margin:auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
  }
  
  .contenedor h3{
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);
  }
  
  .contenedor p{
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color1);
  }
  
  .after::after{
    content:'';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
  }
  
  .card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .cajaNosotras{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height:400px;
    border-radius: 10px;
  }
  
  .people{
    height: 80%;
  }
  
  .cajaNosotras img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto-nosotras{
    height: 20%;
    width: 100%;
    padding: var(--espacios) 0;
  }
.contenedor2{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.contenedor3 {
    display: flex;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.salidasGrupales {
    display: flex;
    width: 600px;
    padding: 10px;
    margin-left: 0px;
}
.grupos{
    margin-top: 15%;
    margin-right: 40px;
}
.cruceros {
    display: flex;
    width: 600px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 0px;
}
.barco{
    margin-top: 15%;
    margin-right: 40px;
}
.navegando{
    margin-left: 50px;
    margin-right: 0;
}
.contactenos{
    width: 600px;
    padding: 10px;
    margin-left: 0px;
    margin-top: 40px;
}
.caja{
    width: 85%;
    background-color: #baebf3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #121213;
}
.cajaMensaje{
    width: 75%;
    padding: 40px;
    border-radius: 4x;
    border: 1px solid #121213;
    border-radius: 4px;
    background-color: #baebf3;
}
.btnEnviar{
    display: inline-block;
    margin-top: 15px;
    color: aliceblue;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: #02025c;
    background-color: rgb(51, 94, 158);
    padding: 15px;
    border-radius: 5px;
}
.btnEnviar:hover{
    background-color: #02025c;
}
.buscar{
    display: inline-block;
    margin-top: 15px;
    color: aliceblue;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: #02025c;
    background-color: rgb(51, 94, 158);
    padding: 15px;
    border-radius: 4px;
}
.buscar:hover{
    background-color: #02025c;
}
.buscadores{
    width: 22%;
    padding: 10px;
    border-radius: 4x;
    border: 1px solid #121213;
    margin-bottom: 10px;
    border-radius: 4px;
}
.mapa{
    display: flexbox;
    width: 600px;
    padding: 50px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
}
/* -----FOOTER--------*/
footer{
    display: grid;
    min-height: 50px;
    background-color: #12111362;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
}

.containerlegal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.copyrightbox{
    display: flex;
    justify-content: center;
    font-size: small;
}

/* VIDEO HEADER */
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -3;
    }
    .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
    }

/* ---------CARRUSEL----------*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,300&display=swap');

  .contenedor3{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:'poppins', sans-serif;
  }

  .material-symbols-outlined {
    margin left: 3px;
    padding: 0px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400px,
    'GRAD' 0,
    'opsz' 48
    }

/*----DEL FOOTER ------------*/
.boxredessociales {
          display: flex;
          justify-content: center;
          align-content: center;
    }
.buscadorDeViaje {
    display: flexbox;
    background-color: rgba(12, 231, 247, 0.397);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.5);
    
    
    
}
.overlay{
    background: rgba(0,0,0,.3);
    position:fixed;
    top: 50px;
    bottom: 450px;
    left: 450px;
    right: 450;
    display: block;
    align-items: center;
    justify-content: center;
    visibility: hidden;
   
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #baebf3;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
    width: 500px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.btnCerrarPopup{
 font-size: 16px;
 line-height: 16px;
 display: block;
text-align: center;
color: #717171;
transition: .3s ease all;
}
.btnCerrarPopup:hover{
    color: darkred;
}  
.popup h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1c1c1d;
    
}
.popup.active{
    opacity: 1;
    transform: scale(1);
}
.popup.active h2{
    animation: entradaTitulo .8s ease 1 forwards;
}
